/* Top */
.pt-40 {
  padding-top: 40px;
}

.pt-60 {
  padding-top: 60px;
}

.mt-40 {
  margin-top: 40px
}

.mt-100 {
  margin-top: 100px;
}

/* Bottom */
.pb-40 {
  padding-bottom: 40px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

/* Special */
.no-padding {
  padding: 0 0 0 0;
}