/* Carousel */
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Feature Large */

.feature-portrait-image {
  height: 380px;
  background-size: contain;
  background-repeat: round;
}

.feature-blured-background {
  background-repeat: round;
}

/* Features */
.feature-large {
  position: relative;
  max-height: 380px;
}

.feature-large-img {
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.feature-large-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Feature 3 Cols */

.block-feature-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-col-1 {
  background-color: var(--bg-color-1);
}

.feature-col-2 {
  color: white;
  background-color: var(--bg-color-3);
}

.feature-col-3 {
  background-color: var(--bg-color-4);
}

.feature-block-text {
  padding: 40px 40px 40px 40px;
}

/* Typography */
.display-3 {
  text-transform: uppercase;
  text-align: center;
}

.h1 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.h4 {
  font-weight: 300;
  text-transform: uppercase;
}

.h6 {
  font-weight: 250;
}

.text-lighter {
  font-weight: lighter;
}

.text-center {
  text-align: center;
}

p {
  font-size: 0.95rem;
}

.social-icons {
  font-size: 2em;
}

/* Hyperlink */
.nav-link {
  font-size: small;
  font-weight: lighter;
  padding: .5rem .5rem;
  color: black
}

.instagram-link {
  color: var(--instagram-color);
}

.instagram-link:hover {
  color: var(--instagram-hover-color);
}

.whatsapp-link {
  color: var(--whatsapp-color);
}

.whatsapp-link:hover {
  color: var(--whatsapp-hover-color);
}

/* -------- */
/* Media */
@media screen and (max-width: 580px) {
  .display-3 {
    font-size: 12vw;
  }

  .h1 {
    font-size: 9vw;
  }

  .h4 {
    font-size: 4vw;
  }

  .h6 {
    font-size: 3vw;
  }

  p {
    font-size: 3.5vw;
  }

  .feature-large-img {
    max-height: 280px;
  }
}