<div id="{{ section.slug | slugify }}" class="row">
  <div class="col-2"></div>
  <div class="col pt-40 pb-40">
    <p class="h1 text-center green-color-1 mb-40">{{ section.title }}</p>
    <form id="contact-form" action="https://formspree.io/f/xoqplbao" method="POST" >
      <div id="contact-form-success-message" class="hidden">{{ section.success }}</div>
      <div id="contact-form-failure-message" class="hidden">{{ section.failure }}</div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" id="contact-form-name" name="name" placeholder="{{ section.name }}">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input type="email" class="form-control" id="contact-form-email"
                  name="email" aria-describedby="emailHelp" placeholder="{{ section.email }}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="contact-form-subject"
              name="subject" placeholder="{{ section.subject }}">
      </div>
      <div class="form-group">
        <textarea class="form-control" id="contact-form-message"
                  name="message" rows="3" placeholder="{{ section.message }}"></textarea>
      </div>
      <button id="contact-form-button" type="submit" class="btn btn-primary submit-button text-lighter">{{ section.submit }}</button>
      <small id="contact-form-status" class="form-text text-muted"></small>
    </form>
  </div>
  <div class="col-2"></div>
</div>