<div class="row">
  <div class="col-4 bg-color-1 feature-block-text">
    <p class="h4 all-caps green-color-1">{{ section.text_left.title }}</p>
    <p class="h6">{{ section.text_left.caption }}</p>
  </div>
  <div class="col-4 no-padding feature-block-img">
    <img src="{{ section.picture }}" width="100%"></img>
  </div>
  <div class="col-4 bg-color-1 feature-block-text">
    <p class="h4 all-caps green-color-1">{{ section.text_right.title }}</p>
    <p class="h6">{{ section.text_right.caption }}</p>
  </div>
</div>