<div id="{{ section.slug | slugify }}" class="row">
  {% for feature in section.features) %}
    <div class="col-4 {{ feature.style }} pb-60">
      <div class="row">
        <img class="block-feature-image" src="{{ feature.picture }}" alt="{{ feature.subtitle }}"></img>
      </div>
      <div class="row pt-60">
        <div class="col text-center">
          {% if feature.title %}
            <p class="h4 all-caps">{{ feature.title }}</p>
          {% endif %}
          <p class="h6 mt-40">{{ feature.subtitle }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>